<%= render('referrals/shared/menu') %>
<h1><%= t('referrals.dashboard.index.title') %></h1>
<p>
  <strong><%= t('referrals.dashboard.index.amount') %>:</strong>
  <%= number_to_currency(@partner.amount) %>
  <%= link_to(t('referrals.dashboard.index.withdraw'), new_withdrawal_path) %>
<br/>
  <strong><%= t('referrals.dashboard.index.active_referrals') %>:</strong>
  <%= @partner.referrals.count %>
<br/>
  <strong><%= t('referrals.dashboard.index.link') %>:</strong>
  <%= referral_link(@partner) %>
</p>