<h1><%= t('referrals.admin_withdrawal.index.title') %></h1>
<%= render 'referrals/shared/filter_form', action: filter_admin_withdrawal_index_path do %>
  <%= label_tag(:status, t('referrals.admin_withdrawal.index.status')) %>
  <%= select_tag(:status, options_for_select(::Referrals::Withdrawal.statuses.keys.map {|k| [t("activerecord.attributes.referrals/withdrawal.status.#{k}"), k] }, @status), include_blank: true) %>
<% end %>
<p>
<table>
  <thead>
  <tr>
    <th><%= t('referrals.admin_withdrawal.index.date') %></th>
    <th><%= t('referrals.admin_withdrawal.index.amount') %></th>
    <th><%= t('referrals.admin_withdrawal.index.status') %></th>
    <th><%= t('referrals.admin_withdrawal.index.history') %></th>
    <th><%= t('referrals.admin_withdrawal.index.action') %></th>
  </tr>
  </thead>
  <tbody>
  <% @withdrawals.each do |withdrawal| %>
      <tr>
        <td><%= withdrawal.created_at.to_formatted_s(:db) %></td>
        <td><%= number_to_currency(withdrawal.amount) %></td>
        <td><%= t("activerecord.attributes.referrals/withdrawal.status.#{withdrawal.status}") %></td>
        <td><%= link_to t('referrals.admin_withdrawal.index.show'), admin_withdrawal_path(withdrawal, date_from: @date_from, date_to: @date_to, status: @status, page: @page) %></td>
        <td>
          <%= form_for(withdrawal, url: admin_withdrawal_path(withdrawal, date_from: @date_from, date_to: @date_to, status: @status, page: @page)) do |f| %>
              <%= f.select(:status, options_for_select(::Referrals::Withdrawal.statuses.keys.map {|k| [t("activerecord.attributes.referrals/withdrawal.status.#{k}"), k] }, withdrawal.status)) %>
              <%= f.submit(t('referrals.shared.save')) %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @withdrawals %>
</p>