<%= render('referrals/shared/menu') %>
<h1><%= t('referrals.income_history.index.title') %></h1>
<%= render 'referrals/shared/filter_form', action: filter_income_history_index_path %>
<table>
  <thead>
    <tr>
      <th><%= t('referrals.income_history.index.date') %></th>
      <th><%= t('referrals.income_history.index.info') %></th>
      <th><%= t('referrals.income_history.index.amount') %></th>
      <th><%= t('referrals.income_history.index.share') %></th>
      <th><%= t('referrals.income_history.index.share_amount') %></th>
    </tr>
  </thead>
  <tbody>
  <% @income_histories.each_with_index do |ih, i| %>
    <tr>
      <td><%= ih.created_at.to_formatted_s(:db) %></td>
      <td><%= ih.info %></td>
      <td><%= number_to_currency(ih.amount) %></td>
      <td><%= number_to_percentage(ih.share*100, precision: 2) %></td>
      <td><%= number_to_currency(ih.share_amount) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @income_histories %>